{% extends "layout.html" %}
{% block content %}
    <H1>{{beer.beer_name}}</H1>
    <h3>Family: {{ beer.get_family() }}</h3>
    <div class="row">
        <span class="col-xs-2">Color: {{ truncatenum(beer.color) }}</span>
        <div class="col-xs-1" style="height: 20px; width: 20px;
                background-color: {{ get_color(beer.color) }}; color:{{get_color(beer
        .color) }}"></div>
        <span class="col-xs-3">ABV: {{ truncatenum(beer.abv) }}%</span>
    </div>

    <div id="chart"></div>
    <a href="{{ url_for('beer.all')}}">Back to All Beers</a>
    <canvas id="myChart"></canvas>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var ctx = $("#myChart");
        var myChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: ["Sour", "Malty", "Hoppy", "Woody", "Bitter",
                    "Roasty", "Spice", "Sweet", "Fruit"],
                datasets: [{
                    label: 'Taste Profile',

                    //FIXME: POPULATE THIS WITH DATA FROM USER
                    data: [
                        {{ beer.sour }},
                        {{ beer.malty }},
                        {{ beer.hoppy }},
                        {{ beer.wood }},
                        {{ beer.bitter }},
                        {{ beer.roasty }},
                        {{ beer.spice }},
                        {{ beer.sweet }},
                        {{ beer.fruit }},
                        ],

                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scale: {
                    ticks:{
                        beginAtZero: true,
                        minimum: 0,
                        max: 10
                    }
                }
            }

        });
    </script>
{% endblock %}
